{% extends "news/base.html" %}

{% block content %}
<h2>Agregar Evento</h2>

<form class="form-horizontal" action="{% url 'add_event' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-4">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-sm btn-warning" type="submit" name="add" value="Añadir Evento" />
            <input class="btn btn-sm btn-danger" type="submit" name="cancel" value="Cancelar" />
        </div>
    </div>
</form>
<script>
    $(function(){
        $( '.form-group input[type=text]' ).addClass( 'form-control' );
    });
</script>
{% endblock %}

