{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="{% static 'news/style/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'news/style/base.css' %}" />
        <link rel="stylesheet" href="{% static 'news/style/slides.css' %}" />
        <link rel="stylesheet" href="{% static 'news/style/jquery-ui.css' %}" />
        <title>Sistema de Noticias del DCC</title>
        <script src="{% static 'news/js/jquery.min.js' %}" ></script>
        <script src="{% static 'news/js/jquery-ui.min.js' %}" ></script>
        <script src="{% static 'news/js/datepicker-es.js' %}" ></script>
        <script src="{% static 'news/js/edition-common.js' %}" ></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- The header with the navigaton bar -->
        <header>
            <h1>Bienvenido al Sistema de Noticias</h1>
            <nav>
                <a href="{% url 'news_display'%}" target="_blank">Pantalla de Noticias</a>
                <a href="{% url 'add_event' %}">Agregar Evento</a>
                <a href="{% url 'add_content'%}">Agregar Contenido</a>
                <a href="{% url 'search_content'%}">Buscar Contenido</a>
            </nav>
        </header>

        <!-- The left panel -->
        <aside id="leftPanel">
            <div id=leftPanelAccordion>
                <h4>Borradores</h4>
                <ol id="draftsBlock">
                </ol>
            </div>
        </aside>

        <!-- The main content -->
        <section id="contentSection" class="content">
            {% block content %}{% endblock %}
        </section>

        <!-- The footer -->
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>

