{% extends "news/base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'news/js/content.js' %}" ></script>
    <script src="{% static 'news/js/content-edition.js' %}" ></script>
{% endblock %}

{% block content %}
<div id="contentToolBar" class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" id="edit-undo" onclick="contentEditor.undo()">
            <span class="icon-tango-undo"></span>Deshacer
        </button>
        <button class="btn" id="edit-redo" onclick="contentEditor.redo()">
            <span class="icon-tango-redo"></span>Rehacer
        </button>
    </div>
    <div class="btn-group">
        <button class="btn" id="format-bold" onclick="contentEditor.bold()">
            <span class="icon-tango-bold"></span>Negrita
        </button>
        <button class="btn" id="format-italic" onclick="contentEditor.italic()">
            <span class="icon-tango-italic"></span>Cursiva
        </button>
        <button class="btn" id="format-underline" onclick="contentEditor.underline()">
            <span class="icon-tango-underline"></span>Subrayado
        </button>
    </div>

    <div class="btn-group">
        <button class="btn" id="justify-left" onclick="contentEditor.justifyLeft()">
            <span class="icon-tango-bold"></span>Justificar Izquierda.
        </button>
        <button class="btn" id="justify-center" onclick="contentEditor.justifyCenter()">
            <span class="icon-tango-bold"></span>Justificar Centrado.
        </button>
        <button class="btn" id="justify-right" onclick="contentEditor.justifyRight()">
            <span class="icon-tango-bold"></span>Justificar Derecha.
        </button>
        <button class="btn" id="justify-full" onclick="contentEditor.justifyFull()">
            <span class="icon-tango-bold"></span>Justificar Completo.
        </button>
    </div>

    <div class="btn-group">
        <button class="btn" id="justify-right" onclick="contentEditor.removeFormat()">
            <span class="icon-tango-bold"></span>Quitar Formato.
        </button>
    </div>

    <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="fontSelectionDropDown" data-toggle="dropdown" aria-expanded="true">
                Tamaño Fuente
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="fontSelectionDropDown">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(1)">1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(2)">2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(3)">3</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(4)">4</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(5)">5</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(6)">6</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.fontSize(7)">7</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="fontSelectionDropDown" data-toggle="dropdown" aria-expanded="true">
                Color Fuente
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="fontSelectionDropDown">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('black')">Negro</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('white')">Blanco</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('red')">Rojo</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('green')">Verde</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('blue')">Azul</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('yellow')">Amarillo</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('magenta')">Magenta</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" onclick="contentEditor.foreColor('cyan')">Cyan</a></li>

            </ul>
        </div>
    </div>

    <div class="btn-group">
        <button class="btn" id="slide-template" onclick="contentEditor.templateSelection()" >
            Plantilla
        </button>
    </div>
</div>

<div id="slideErrorMessages">
</div>

<div id="slideContainer" class="cell text-center">
</div>

<!-- Select Template Dialog -->
<div class="modal fade" id="selectTemplateModal" tabindex="-1" role="dialog" aria-labelledby="selectTemplateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="selectTemplateModalLabel">Seleccionar Plantilla</h4>
      </div>
      <div class="modal-body">
            <div class="btn-group" data-toggle="buttons" id="selectTemplateModalBody">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="selectTemplateCancel" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="selectTemplateOK" data-dismiss="modal" >Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Image Upload Dialog -->
<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="imageUploadModalLabel">Subir Imagen</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'upload_content_image' content_id=content.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="enviar">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="imageUploadModalClose" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{% block initEditor %}
<script>
    $(document).ready(function() {contentEditor.loadContent({{ content.pk }}); })
</script>
{% endblock %}
{% endblock %}

{% block footer %}
<div id="contentStatusBar">
    <span>Inicio Circulación:</span>
    <input type="text" id="circulation-start" class="dateTimeInput">
    <span>Fin Circulación:</span>
    <input type="text" id="circulation-end" class="dateTimeInput">
    <span>Duracion:</span>
    <input type="text" id="display-duration" >
    <span>Tag:</span>
    <select id="tag-selection">
        <option value=""></option>
        {% for tag in tags %}
            <option value="{{ tag.name }}">{{tag.name}}</option>
        {% endfor %}
    </select>

    <span id="content-character-count">Caracteres: 0</span>
    <br>

    <input type="checkbox" id="published" onchange="contentEditor.publishedChanged()" >Publicado
    <input type="submit" value="Vista Previa" onclick="contentEditor.preview()">
    <input type="submit" value="Guardar" onclick="contentEditor.save()">
    <input type="submit" value="Cancelar" onclick="contentEditor.cancel()">
    <input type="submit" value="Borrar" onclick="contentEditor.delete()">
</div>
{% endblock %}

