{% extends "news/base.html" %}

{% block content %}
<h2>Editar Tags</h2>

<table>
    <thead>
        <tr><th>Nombre</th></tr>
    </thead>
    <tbody>
    {% for tag in tags %}
    <form action="{% url 'edit_tags' %}" method="post">
        {% csrf_token %}
    
        <input type="hidden" name="name" value="{{ tag.name }}" />
        <tr>
            <td>{{ tag.name }}</td>
            <td><input type="submit" name="deleteTag" value="Borrar" /></td>
        </tr>
    </form>
    {% endfor %}
    </tbody>  
</table>

<h2>Nuevo Tag</h2>
<form action="{% url 'edit_tags' %}" method="post">
    {% csrf_token %}
    
    <input type="text" name="name" value="" />
    <input type="submit" name="addTag" value="Agregar" />
</form>

{% endblock %}

