{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="{% static 'news/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'news/style.css' %}" />
        <link rel="stylesheet" href="{% static 'news/slides.css' %}" />
        <title>Noticias del DCC</title>
        <script src="{% static '/news/jquery-2.1.1.min.js' %}" ></script>
    </head>
    <body>
        TODO: Aqui se muestran las noticias
    </body>
</html>
