{% extends "news/news_display.html" %}

{% block start_script %}
        <script>
            function rx() {
                var dia = [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ];
                var now = new Date();

                h = now.getHours();
                m = now.getMinutes();
                h = h<10?"0"+h:h;
                m = m<10?"0"+m:m;

                format = h+":"+m;
                format2 = dia[now.getDay()]+" "+now.getDate();
                $('#rx').html('<h2 class="h2-reloj">'+format+'<br/>'+format2+'</h2>');
                setTimeout( "rx()", 1000 );
            }
            $(window).load(function() {
                rx();
                newsDisplay.previewingDrafts = true;
                newsDisplay.startPreviewFor(null, "{% url 'get_content' content_id=content.pk %}");
                $( '#carousel' ).on( 'slid.bs.carousel', function() {
                    var tag = $('.carousel-inner .active').attr( 'data-tag' );
                    $('#item-tag').html( tag?tag:'' );
                } );
            })
        </script>
        {% endblock %}
