{% extends "news/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>
{% endblock %}
{% block content %}

<div class="jumbotron">
    <h2>Bienvenido!</h2>
    <p>Este es el sitio de administracion de noticias del 
departamento. En esta pagina podra buscar contenido. Si desea agregar, 
ocupe el menu superior.</p>
</div>

<table id="datatable" class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Tipo</th>
            <th>Tag</th>
            <th>Autor</th>
            <th>Inicio Circulación</th>
            <th>Fin Circulación</th>
            <th>Publicado</th>
        </tr>
    </thead>
    <tbody>
        {% for e in elementos %}
        <tr>
            <td><a href="{{e.url}}">{{e.title}}</a></td>
            <td>{{e.tipo}}</td>
            <td>{% if e.tag != None %}{{e.tag}}{% endif %}</td>
            <td>{{e.author}}</td>
            <td>{{e.circulation_start}}</td>
            <td>{{e.circulation_end}}</td>
            <td>{% if e.published %}Publicado{% else %}No Publicado{% endif %}</td>
        </tr>
        {% endfor %}
    </body>
</table>

{% endblock %}

